
<div class="container">
  <!--This is the Profile Header Container-->
  <div class="profileRow row" id="firstProfileRow">

    <div class="col-sm-5" id="fr_fc_profileText">
      <h2>{{currentUser.firstName}}</h2>
      <h2><small>Welcome back!</small></h2>
        <p>
          <b>New updates this week include:</b><br> Boom shackalack nizzle rizzle nizzle gangsta posuere shit. Aliquam the bizzle viverra lectus. Crizzle izzle phat et my shizz sodales euismizzle. Phat shizzlin dizzle, mauris vitae doggy cool, nulla dang dizzle sheezy.
        </p>
    </div>

    <div class="col-sm-4" id="fr_sc_profilePhoto">
      <img ng-src="{{currentUser.photos[0].value}}" id="fr_sc_facebookImg" />
    </div>

    <div class="col-sm-3" id="fr_tc_navBar">
      <user-nav></user-nav>
    </div>

  </div>


  <!--This is the Second Row -->
  <div class="profileRow row" id="secondProfileRow">

    <div class="col-sm-5" id="sr_fc_searchANDmap">

      <!-- map -->
      <div class="row">
          <div class="col-sm-12">
            <user-map style="height:350px;width:350px;margin:0"
                center="loc"
                markers="location"
                id="sr_map"
                >
            </user-map>
          </div>
      </div>
          <!--search-->
      <div class="row">
        <div class="col-sm-12"id="sr_fc_search">
            <input id="sr_fc_search_input" type="text" ng-model="search" placeholder=" Address and City"/>

            <button class="btn sr_fc_search_buttons" type="button" ng-click="geoCode()" ng-disabled="search.length == 0" title="Set Location"><i class="fa fa-search" aria-hidden="true"></i></button>
            <button class="btn sr_fc_search_buttons" type="button" ng-click="gotoCurrentLocation()" ng-title="Find Current Location"><i class="fa fa-location-arrow" aria-hidden="true"></i>
            </button>
        </div>
      </div>




    </div>

    <div class="col-sm-2" id="sr_sc_locations">
      <!-- current location and recent locations -->
      <div class="row">

        <div class="col-sm-12 sr_sc_locations_box text-center" id="sr_sc_locations_box_current">
          <i class="fa fa-map-marker sr_sc_locations_icons text-center fa-2x block"></i>
          <h5 class="text-center">Current Address:</h5>
          <h6>
            {{address}}
          </h6>
        </div>

        <div class="col-sm-12 sr_sc_locations_box">
          <i class="fa fa-map-o sr_sc_locations_icons fa-2x block"></i>
          <h5 class="text-center">Recent Locations:</h5>
            <div class="btn btn-block sr_sc_locations_button"
                ng-repeat="location in locations"
                ng-click="gotoLocation(location.lat, location.lon)"
                ng-show="location.name">
                <i class="fa fa-map-pin"  aria-hidden="true"></i>
                {{location.name}}<br>
                {{location.formattedAddress}}
                <div class="btn btn-success  sr_sc_locations_button_saveLocation"
                ng-click="saveLocation(location)">Save this Location</div>

                <!--Modal That Saves the Location-->
                <div class="modal fade" id="myModalLabel{{location.formattedAddress}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{location.formattedAddress}}">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel{{location.formattedAddress}}">Edit Location</h4>
                      </div>
                      <div class="modal-body">

                        <form>
                          <fieldset class="form-group">
                            <label for="formGroupExampleInput">Location Name</label>
                            <input type="text"  ng-model="location.name" class="form-control" id="formGroupExampleInput"  required>
                          </fieldset>
                        </form>
                        {{location.formattedAddress}}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" data-dismiss="modal" ng-click="saveLocation(location)" class="btn btn-primary">Submit Location</button>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
        </div>

        <div class="col-sm-12 sr_sc_locations_box" >
          <i class="fa fa-map-signs sr_sc_locations_icons fa-2x block "></i>
          <h5 class="text-center">Saved Locations:</h5>
          <div class="btn btn-block sr_sc_locations_button"
          ng-repeat="sl in currentUser.savedLocations"
          ng-click="gotoLocation(sl.lat, sl.lon)"
          ng-show="sl.name">
          <i class="fa fa-map-pin"  aria-hidden="true"></i>
          {{sl.name}}<br>
          {{sl.formattedAddress}}
          <button type="button" data-dismiss="modal" ng-click="setLocation(sl.lat, sl.lon)" class="btn btn-success  sr_sc_locations_button_saveLocation">Set as Location</button>
        </div>
        </div>

      </div>
    </div>

    <div class="col-sm-5" id="sr_sc_ServicesAvail">
      <div ng-repeat="service in allServices">
        <img class="sr_tc_img" ng-src="{{service.user.photos[0].value}}" alt="" /><br>
        {{service.user.firstName}}<br>
        {{service.type}}<br>
        {{service.skillLevel}}<br>
        {{service.specialties}}<br>
        {{service.description}}<br>
        {{service.flatRate}}{{service.hrlyRate}}<br>

      </div>
    </div>
  </div>

</div> <!--End of the container-->

<div class="modal fade" tabindex="-1" role="dialog" id="profileSetup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Welcome, let's setup your profile!</h3>
      </div>
      <div class="modal-body">
        <h5>How are you primarily going to use PRVide?</h5>

        <div class="radio">
            <label>
            <input type="radio" name="exampleRadios" id="exampleRadios1" ng-model="userType" value="user" checked>
            User- I'm looking for PRViders in my area.
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="exampleRadios" id="exampleRadios2" ng-model="userType" value="provider">
            Provider- I want to be a PRVider for those in my area.
          </label>
        </div>


          <fieldset class="form-group">
          <label for="exampleTextarea">Tell us about yourself..</label>
          <textarea ng-model="bio" autofocus=""class="form-control" id="exampleTextarea" rows="3" required></textarea>
          </fieldset>

          <fieldset class="form-group">
            <label for="email">Email</label>
            <input type="email" ng-model="email" class="form-control" id="exampleInputEmail1" placeholder="Insert Email" required>
          </fieldset>

          <fieldset class="form-group">
            <label for="cellNumber">Cell Number</label>
            <input type="Number" ng-model="phoneNumber" class="form-control" id="exampleInputEmail1" placeholder="So you PRViders can contact you.." required>
          </fieldset>

        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="updateUser()">Next</button>
      </div>
    </div>
  </div>
</div>
