.mainContainerProvider {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.btnNewService {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.firstRowProvider {
  height: 75px;
}
.firstRowProvider div {
  width: 24%;
  display: inline-block;
}

.secondRowProvider {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}

.live {
  background-color: rgb(139, 140, 15);
  border: none;
  display: block;
  margin-right: auto;
  margin-left: auto;

}

.inactive {
  background-color: rgb(214, 68, 48);
  border: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
}


.userServices {
  text-align: center;
  padding: 10px;
  background-color: rgba(255,255,255);
  height: 90%;
  border: 2px solid rgba(107, 107, 107, 0.5);
  border-bottom: none;
}

.userServices_content {
  margin-top: 10px;
}

.userServices_title {
  font-size: 20px;
  font-weight: bold;
}

.userServices_text {
  margin-top: 10px;
  font-size: 11.5px;
  line-height: normal;
}

.relative {
  height:10%;
  display: relative;
}

.ServiceBtn {
  font-size: 12px;
  height:20px;
  width: 100%;
  color: white;
  font-weight: bold;
  border: none;
}
#delete{
  background-color: red;
}
#edit{
  background-color: orange;
}
.servicesOfferedRepeat {
  background-color: white;
  margin-top: 0;
  display: inline-block;
  height: 312px;
  width: 257px;
}


/*to customize any of this please use https://proto.io/freebies/onoff/*/
.onoffswitch {
    position: relative; width: 108px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 34px; padding: 0; line-height: 34px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Active";
    padding-left: 14px;
    background-color: #7ABF93; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Not Active";
    padding-right: 14px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 7px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 70px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
